/* Configurações do <body> que abrangem toda a página. */
body {
    margin: 0px;
    padding: 0px;
    color: #ad8a68;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Configurações dos links <a>. */
a {
    color: #ba8345;
    text-decoration: none;
}
/* Configuração dos links <a> quando o cursor sobrepõe o texto. */
a:hover {
    text-decoration: underline;
}

/* Estilo para os elementos de navegação da tag <nav>. */
nav {
    margin: 0px;
    padding: 0px 2% 0px 0px;
    background-color: #ad8a68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

/* Configurações da classe .logo. */
.logo {
    padding: 0px;
    margin: 0px;
    background-color: #73b473;
    color: #fff6e7;
    justify-self: start;
    align-self: stretch;
}

/* Estilo da lista não ordenad <ul> que estão na tag <nav>. */
nav ul {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: small;

}

/* Estilo para os elementos <li> da lista não ordenada <ul> que estão na tag <nav>. */
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 5px;
    /* text-align: right; */

}

/* Estilo para o link <a> que estão na tag <nav>. */
nav ul li a {
    color: #fff6e7;
    text-decoration: none;
}

/* Estilo para o link <a> quando o cursor sobrepõe o texto. */
nav ul li a:hover {
    text-decoration: underline;
}

/* Classe de estilo da caixa de conteúdo. */
.caixaConteudo {
    background-color: #dfe0df;
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
}

/* Identidade de estilo para a <div> que contém o mapa. */
#mapaLeaflet {
    width: 100%;
}

/* Classe de estilo para a <div> que contém texto (e imagem). */
.conteudoTexto {
    margin: 0px;
    padding: 20px;
    background-color: #fff6e7;
    max-width: 700px;
}

/* Configura a tag de imagem <img> que está na classe .imagem. */
.imagem img {
    width: 100%;
    padding-bottom: 0px;
    filter: grayscale(80%);
}

/* Configura a tag de parágrafo <p> que está na classe .imagem. */
.imagem p {
    padding-top: 0px;
    font-size: smaller;
}

/* Configura o estilo do popup do Leaflet. */
.leaflet-popup-content {
    color: #ad8a68;
}

/* Configura a tag de link <a> que está na classe do popup do Leaflet. */
.leaflet-popup-content a {
    color: #ad8a68;
    text-decoration: none;
}

/* Configura a tag de link <a> que foi visitada que está na classe do popup do Leaflet. */
.leaflet-popup-content a:visited {
    color: #ad8a68;
}

/* Configura a tag de link <a> quando o cursor sobrepõe o texto, que está na classe do popup do Leaflet. */
.leaflet-popup-content a:hover {
    text-decoration: underline;
}

/* 
Cores usadas no projeto:
#ba8345
#ad8a68
#fff6e7
#dfe0df 
#73b473
*/